<h2>Register</h2>
<div class="row">
  <form method="POST" action="/auth/signup" class="col s12">
    <div class="row">
      <div class="input-field col s12">
        <input id="username" type="text" class="validate" value="<%= data.username %>" name="username">
        <label for="username">User Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="email" type="text" class="validate" value="<%= data.email %>"name="email">
        <label for="email">Email</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="password" type="password" class="validate" name="password">
        <label for="password">Password</label>
      </div>
      <div class="input-field col s12">
        <input id="password_verify" type="password" class="validate" name="password_verify">
        <label for="password_verify">Password Verify</label>
      </div>
    </div>
    <button class="btn waves-effect waves-light teal lighten-3" type="submit">Register
      <i class="material-icons right"></i>
    </button>
  </form>
</div>
<script>
document.addEventListener('DOMContentLoaded', function() {
  let elems = document.querySelectorAll('.datepicker');
  let startDate = new Date()
   startDate.setFullYear(startDate.getFullYear() - 30)
  let instances = M.Datepicker.init(elems, {
  autoClose: true,
  defaultDate: startDate,
  minYear: startDate.getFullYear() - 70,
  maxYear: (new Date()).getFullYear()
  });
})
</script>