
<div class="row">
    <div class="input-field col s12">
        <select id="memberList" onchange="getMemberValue()" >
            <option value="" disable selected>Choose a member to place</option>
            <%for (let i=0; i < team.members.length; i++){%>
                <option value="<%=team.roles[i].icon%>"><%=team.members[i].name%> <%=team.roles[i].icon%></option>
            <%}%>
        </select>
    </div>
</div>


<div id="board-container">
    <canvas id="whiteboard" width="1000" height="500"></canvas>
</div>
<div class="colors">
    <div class="color black"></div>
    <div class="color red"></div>
    <div class="color lightgreen"></div>
    <div class="color cyan"></div>
    <div class="color yellow"></div>
    <div class="color springgreen"></div>
    <div class="color hotpink"></div>
    <div class="color sienna"></div>
    <div class="color white"></div>
    <div class="color darkorange"></div>
    <div class="color darkorchid"></div>
    <div class="color mediumblue"></div>
    <div class="color firebrick"></div>
</div>
<div id=button-container>
    
    <input type="button" id="clear" value="clear">
</div>
<script>
const getMemberValue = () => {
        let selectedMember = document.getElementById("memberList").value;
    }
document.addEventListener('DOMContentLoaded', function() {
    var elem = document.querySelectorAll('select');
    var instance = M.FormSelect.init(elem);
    
  });
</script>
<script src="/socket.io/socket.io.js"></script>
<script src="../../canvas.js"></script>
