<h3>Simulator</h3>
<div id="board-container">
    <canvas id="whiteboard" width="1000" height="500"></canvas>
</div>
<div class="colors">
    <div class="color black"></div>
    <div class="color red"></div>
    <div class="color lightgreen"></div>
    <div class="color cyan"></div>
    <div class="color yellow"></div>
    <div class="color springgreen"></div>
    <div class="color hotpink"></div>
    <div class="color sienna"></div>
    <div class="color white"></div>
    <div class="color darkorange"></div>
    <div class="color darkorchid"></div>
    <div class="color mediumblue"></div>
    <div class="color firebrick"></div>
</div>
<div id=button-container>
    
    <input type="button" id="clear" value="clear">
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="canvas.js"></script>
