html,
body {
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

nav {
    width: 100%;
    background-color: #ddd;
}

main {
    text-align: center;
    flex: 1 0 auto;
}

#toast-container {
    left: 40% !important;
    right: auto !important;
    bottom: auto !important;
  }

.whiteboard {
    height: 80%;
    width: 80%;
    /* position: absolute; */
    /* left: 0;
    right: 0;
    bottom: 0;
    top: 0; */
    background-color: grey;
  }


.colors {
    position: fixed;
  }
  
.color {
    display: inline-block;
    height: 48px;
    width: 48px;
  }
  
.color.black { background-color: black; }
.color.red { background-color: red; }
.color.green { background-color: green; }
.color.blue { background-color: blue; }
.color.yellow { background-color: yellow; }