* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  /* width: 100%;
  height: 100%;

    display: flex;
  
    flex-direction: column; */
width: 100%;
height: 100%;
}

nav {
    width: 100%;
    background-color: #ddd;
}
/* 
main {
    text-align: center;
    flex: 1 0 auto;
} */

#toast-container {
    left: 40% !important;
    right: auto !important;
    bottom: auto !important;
  }


#board-container {
  width: 1000px;
  height: 500px;
  
}
#whiteboard {
  position: relative;
  background-color: grey;

}

.colors {
    position: fixed;
  }
  
.color {
    display: inline-block;
    height: 50px;
    width: 50px;
  }
  
.color.black { background-color: black; }
.color.red { background-color: red; }
.color.green { background-color: green; }
.color.blue { background-color: blue; }
.color.yellow { background-color: yellow; }